.w-vtabs {
}

.w-vtabs > .w-tabbox > .w-tabbox-inner {
    margin: -43px 43px 0  43px;
}

.w-vtabs  > .w-tabbox > .w-tabbox-inner > ul {
    transform: translate(-50%, 50%) rotate(-90deg) translate(-50%, -50%) scale(-1, 1);
}

.w-vtabs  > .w-tabbox > .w-tabbox-inner > ul a {
    transform: scale(-1, 1);
}

.w-tabbox-pages {
  padding: 10px;
}


